{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AskPak</a>

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Ask </button>
          </form>

        <div class="d-flex gap-1">
          <img src="hhh.jpg" alt="Avatar" class="img-thumbnail">
          <div>
            <div>
              Dr. Pepper
            </div>
            <a href="#">Settings</a>
            <a href="#">log out</a>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mt-3">

        <div class="row mb-5">
          {% block content %}
          {% endblock %}
          <div class="col-3">
                <section class="mb-3">
                    <h2> Popular Tags </h2>
                        <div>
                            <span class="badge badge-pill bg-primary">Main</span>
                            <span class="badge badge-pill bg-secondary">Secondary</span>
                            <span class="badge badge-pill bg-success">Technopark</span>
                            <span class="badge badge-pill bg-danger">Puppies</span>
                            <span class="badge badge-pill bg-warning">Simple</span>
                            <span class="badge badge-pill bg-info">Dimple</span>
                            <span class="badge badge-pill bg-dark">BTMSU</span>
                        </div>
                </section>
                <section>
                    <h2>Best Members</h2>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                                <li class="list-group-item"><a href="#">Member</a></li>
                              </ul>
                        </div>
                </section>
            </div>
        </div>
    </main>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>