{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Askme</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body style="background-color: #E2EEEC;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
            <div class="container">

                <a class="navbar-brand" href="#">
                    <img width="40px" src="static/img/logo.png" class="img-fluid">
                    Askme
                </a>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-custom" type="submit">Ask</button>
                </form>

                <div class="d-flex gap-1 align-items-center">
                    <div>
                        <img src="hello.jpg" class="img-thumbnail" alt="...">
                    </div>

                    <div class="content">
                        <div class="content__name" style="color: white;">Dr.Pepper</div>
                        <div class="content__links">
                            <a href="#">Settings</a>
                            <a href="#">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="container mt-2 flex-grow">
            <div class="row">
                <section class="col vh-100%">
                {% block content %}
                {% endblock %}
                </section>
                <aside class="col-3" style="background-color: #E4E8F4;">
                    <section class="mb-3">
                        <h3>Popular Tags</h3>
                        <div>
                            <a href="#" class="d-block">Python</a>
                            <a href="#" class="d-block">G0</a>
                            <a href="#" class="d-block">C++</a>
                            <a href="#" class="d-block">Rust</a>
                            <a href="#" class="d-block">Java</a>
                            <a href="#" class="d-block">JavaScript(aka Java)</a>
                        </div>
                    </section>

                    <section>
                        <h3>Best members</h3>
                        <a href="#" class="d-block">Ultralisk</a>
                        <a href="#" class="d-block">Gidralisk</a>
                        <a href="#" class="d-block">Mutalisk</a>
                        <a href="#" class="d-block">Zerling</a>
                        <a href="#" class="d-block">Quin</a>
                        <a href="#" class="d-block">Roach</a>
                    </section>
                </aside>
            </div>
        </main>
    </body>    
</html>