{% load static %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div style="height: 100px;" class="border mb-2 w-100">
                    <img src="{% static "/img/frog.jpeg" %}" alt="img" class="img-fluid">
                </div>

                <div>
                    <input type="number" class="form-control" value="5">
                </div>

            </div>
            <div class="col">
                <h5 class="card-title">
                    <a href="{% url "question" question.id %}"> {{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{question.text}}
                </p>
                <div class="row">
                    <div class="col">
                        <a href="#">Answers (3)</a>
                    </div>
                    <div class="col">
                        <span>Tags</span>
                            <a href="{% url "tag" %}">Python</a>
                            <a href="{% url "tag" %}">C++</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>